{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}

{{ define "content" }}
<div class="main-content-container">
  <div class="episode-container">
    <h1 class="episode-title">{{ .Title }}</h1>
    <div class="episode-content markdown-content" id="light-gallery-div">
      {{ .Content }}
    </div>
  </div>
</div>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    lightGallery(document.getElementById('light-gallery-div'), {
      selector: 'img',
      plugins: [lgZoom, lgRotate],
    });
  });
</script>
{{ end }}
