<div class="episode-item">
  <div class="episode-info">
    <div>
      <h1 class="episode-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    </div>
    <div class="episode-extra-info">
      <div class="episode-tag" title="{{ .Date.Format "2006-01-02 15:02:01" }}">
        <div class="tag-icon publish-date-icon">
          <i class="far fa-calendar-alt"></i>
        </div>
        <span>{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
      </div>
      <div class="episode-tag">
        <div class="tag-icon duration-icon">
          <i class="fas fa-microphone"></i>
        </div>
        {{ if .Params.duration }}
          {{ $durationType := printf "%T" .Params.duration }}
          {{ if eq $durationType "string" }}
            <span>{{ .Params.duration }}</span>
          {{ else }}
            {{ $hour := printf "%02d" (int (math.Floor (div .Params.duration 3600))) }}
            {{ $minute := printf "%02d" (int (math.Floor (mod (div .Params.duration 60) 60))) }}
            {{ $second := printf "%02d" (int (math.Floor (mod .Params.duration 60))) }}
            {{ if eq $hour "00" }}
              <span>{{ $minute }}:{{ $second }}</span>
            {{ else }}
              <span>{{ $hour }}:{{ $minute }}:{{ $second }}</span>
            {{ end }}
          {{ end }}
        {{ else }}
          <span>{{ T "unknownDuration" }}</span>
        {{ end }}
      </div>
      {{ with .Params.categories -}}
      {{ range . -}}
      <div class="episode-tag" title="{{ . }}">
        <div class="tag-icon hashtag-icon">
          <i class="fas fa-hashtag"></i>
        </div>
        <span>
          <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/">
          {{ . }}
          </a>
        </span>
      </div>
      {{ end -}}
      {{- end }}
    </div>
    <div class="episode-summary markdown-content" title="{{ .Summary }}">{{ .Summary }}</div>
  </div>
  {{ if .Params.coverImage -}}
    <div class="episode-cover-container">
      <a href="{{ .RelPermalink }}">
        <img class="episode-cover" src="{{ .Params.coverImage }}" />
      </a>
    </div>
  {{- end }}
</div>