:root {
    --color-main: #05488c;
    --color-black: #000;
    --color-white: #fff;
    --color-gary-50: #F7FAFC;
    --color-gary-100: #EDF2F7;
    --color-gary-200: #E2E8F0;
    --color-gary-300: #CBD5E0;
    --color-gary-400: #A0AEC0;
    --color-gary-500: #718096;
    --color-gary-600: #4A5568;
    --color-gary-700: #2D3748;
    --color-gary-800: #1A202C;
    --color-gary-900: #171923;
    --color-red-50: #FFF5F5;
    --color-red-100: #FED7D7;
    --color-red-200: #FEB2B2;
    --color-red-300: #FC8181;
    --color-red-400: #F56565;
    --color-red-500: #E53E3E;
    --color-red-600: #C53030;
    --color-red-700: #9B2C2C;
    --color-red-800: #822727;
    --color-red-900: #63171B;
    --color-green-50: #F0FFF4;
    --color-green-100: #C6F6D5;
    --color-green-200: #9AE6B4;
    --color-green-300: #68D391;
    --color-green-400: #48BB78;
    --color-green-500: #38A169;
    --color-green-600: #2F855A;
    --color-green-700: #276749;
    --color-green-800: #22543D;
    --color-green-900: #1C4532;
    --color-teal-50: #E6FFFA;
    --color-teal-100: #B2F5EA;
    --color-teal-200: #81E6D9;
    --color-teal-300: #4FD1C5;
    --color-teal-400: #38B2AC;
    --color-teal-500: #319795;
    --color-teal-600: #2C7A7B;
    --color-teal-700: #285E61;
    --color-teal-800: #234E52;
    --color-teal-900: #1D4044;
    --color-blue-50: #EBF8FF;
    --color-blue-100: #BEE3F8;
    --color-blue-200: #90CDF4;
    --color-blue-300: #63B3ED;
    --color-blue-400: #4299E1;
    --color-blue-500: #3182CE;
    --color-blue-600: #2B6CB0;
    --color-blue-700: #2C5282;
    --color-blue-800: #2A4365;
    --color-blue-900: #1A365D;
    --color-cyan-50: #EDFDFD;
    --color-cyan-100: #C4F1F9;
    --color-cyan-200: #9DECF9;
    --color-cyan-300: #76E4F7;
    --color-cyan-400: #0BC5EA;
    --color-cyan-500: #00B5D8;
    --color-cyan-600: #00A3C4;
    --color-cyan-700: #0987A0;
    --color-cyan-800: #086F83;
    --color-cyan-900: #065666;
    --color-purple-50: #FAF5FF;
    --color-purple-100: #E9D8FD;
    --color-purple-200: #D6BCFA;
    --color-purple-300: #B794F4;
    --color-purple-400: #9F7AEA;
    --color-purple-500: #805AD5;
    --color-purple-600: #6B46C1;
    --color-purple-700: #553C9A;
    --color-purple-800: #44337A;
    --color-purple-900: #322659;
    --color-pink-50: #FFF5F7;
    --color-pink-100: #FED7E2;
    --color-pink-200: #FBB6CE;
    --color-pink-300: #F687B3;
    --color-pink-400: #ED64A6;
    --color-pink-500: #D53F8C;
    --color-pink-600: #B83280;
    --color-pink-700: #97266D;
    --color-pink-800: #702459;
    --color-pink-900: #521B41;
}

:root {
    --color-background: var(--color-gary-50);
    --color-podcast-title: var(--color-gary-700);
    --color-podcast-description: var(--color-gary-400);
    --color-podcast-link-background: var(--color-gary-100);
    --color-podcast-link-hover-background: var(--color-gary-300);
    --color-episode-item: var(--color-white);
    --color-episode-tag-text: var(--color-gary-500);
    --color-episode-tag-icon-background: var(--color-blue-500);
    --color-episode-tag-span-background: var(--color-gary-100);
    --color-episode-title: var(--color-gary-700);
    --color-episode-title-hover: var(--color-gary-500);
    --color-episode-summary: var(--color-gary-500);
    --color-pagination-text: var(--color-gary-600);
    --color-pagination-background: var(--color-white);
    --color-pagination-hover-background: var(--color-blue-100);
    --color-pagination-active-text: var(--color-white);
    --color-pagination-active-background: var(--color-blue-500);
    --color-footer-text: var(--color-gary-700);
    --color-duration-icon-background: var(--color-pink-400);
    --color-podcast-link: var(--color-black);
    --color-episode-container: var(--color-white);
    --color-hashtag-tag-icon-background: var(--color-gary-400);
    --color-shk-player-body: var(--color-white);
    --color-shk-player-text: #767676;
    --color-shk-player-disabled: rgba(0, 0, 0, .1);
    --color-shk-player-primary: var(--color-blue-500);
    --color-episode-footer: var(--color-gary-700);
    --color-episode-footer-hover: var(--color-blue-400);
    --color-border-secondary: #eaecef;
    --color-archive-episode-border-left: var(--color-gary-200);
}

:root[data-theme="dark"] {
    --color-background: var(--color-gary-800);
    --color-podcast-title: var(--color-gary-100);
    --color-podcast-description: var(--color-gary-300);
    --color-podcast-link-background: var(--color-gary-700);
    --color-podcast-link-hover-background: var(--color-gary-600);
    --color-podcast-link: var(--color-gary-300);
    --color-episode-item: var(--color-gary-700);
    --color-episode-title: var(--color-gary-400);
    --color-episode-summary: var(--color-gary-400);
    --color-footer-text: var(--color-gary-300);
    --color-episode-tag-text: var(--color-gary-200);
    --color-episode-tag-icon-background: var(--color-blue-600);
    --color-episode-tag-span-background: var(--color-gary-600);
    --color-pagination-text: var(--color-gary-100);
    --color-pagination-background: var(--color-gary-600);
    --color-pagination-active-background: var(--color-blue-600);
    --color-pagination-hover-background: var(--color-blue-800);
    --color-duration-icon-background: var(--color-pink-600);
    --color-episode-container: var(--color-gary-700);
    --color-hashtag-tag-icon-background: var(--color-gary-500);
    --color-episode-content-text: var(--color-gary-400);
    --color-shk-player-body: var(--color-gary-600);
    --color-shk-player-text: var(--color-gary-300);
    --color-shk-player-disabled: var(--color-gary-500);
    --color-shk-player-primary: var(--color-blue-200);
    --color-episode-footer: var(--color-gary-300);
    --color-episode-footer-hover: var(--color-blue-300);
    --color-border-secondary: var(--color-gary-600);
    --color-archive-episode-border-left: var(--color-gary-500);
}