.episode-content .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.episode-content .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

.episode-content .anchor:focus {
    outline: none;
}

.episode-content h1 .octicon-link,
.episode-content h2 .octicon-link,
.episode-content h3 .octicon-link,
.episode-content h4 .octicon-link,
.episode-content h5 .octicon-link,
.episode-content h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.episode-content h1:hover .anchor,
.episode-content h2:hover .anchor,
.episode-content h3:hover .anchor,
.episode-content h4:hover .anchor,
.episode-content h5:hover .anchor,
.episode-content h6:hover .anchor {
    text-decoration: none;
}

.episode-content h1:hover .anchor .octicon-link,
.episode-content h2:hover .anchor .octicon-link,
.episode-content h3:hover .anchor .octicon-link,
.episode-content h4:hover .anchor .octicon-link,
.episode-content h5:hover .anchor .octicon-link,
.episode-content h6:hover .anchor .octicon-link {
    visibility: visible;
}

.episode-content h1:hover .anchor .octicon-link:before,
.episode-content h2:hover .anchor .octicon-link:before,
.episode-content h3:hover .anchor .octicon-link:before,
.episode-content h4:hover .anchor .octicon-link:before,
.episode-content h5:hover .anchor .octicon-link:before,
.episode-content h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: " ";
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}
.episode-content {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.episode-content details {
    display: block;
}

.episode-content summary {
    display: list-item;
}

.episode-content a {
    background-color: initial;
}

.episode-content a:active,
.episode-content a:hover {
    outline-width: 0;
}

.episode-content strong {
    font-weight: inherit;
    font-weight: bolder;
}

.episode-content h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.episode-content img {
    border-style: none;
}

.episode-content code,
.episode-content kbd,
.episode-content pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.episode-content hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
}

.episode-content input {
    font: inherit;
    margin: 0;
}

.episode-content input {
    overflow: visible;
}

.episode-content [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.episode-content * {
    box-sizing: border-box;
}

.episode-content input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.episode-content a {
    color: #0366d6;
    text-decoration: none;
}

.episode-content a:hover {
    text-decoration: underline;
}

.episode-content strong {
    font-weight: 600;
}

.episode-content hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}

.episode-content hr:after,
.episode-content hr:before {
    display: table;
    content: "";
}

.episode-content hr:after {
    clear: both;
}

.episode-content table {
    border-spacing: 0;
    border-collapse: collapse;
}

.episode-content td,
.episode-content th {
    padding: 0;
}

.episode-content details summary {
    cursor: pointer;
}

.episode-content kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

.episode-content h1,
.episode-content h2,
.episode-content h3,
.episode-content h4,
.episode-content h5,
.episode-content h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.episode-content h1 {
    font-size: 32px;
}

.episode-content h1,
.episode-content h2 {
    font-weight: 600;
}

.episode-content h2 {
    font-size: 24px;
}

.episode-content h3 {
    font-size: 20px;
}

.episode-content h3,
.episode-content h4 {
    font-weight: 600;
}

.episode-content h4 {
    font-size: 16px;
}

.episode-content h5 {
    font-size: 14px;
}

.episode-content h5,
.episode-content h6 {
    font-weight: 600;
}

.episode-content h6 {
    font-size: 12px;
}

.episode-content p {
    margin-top: 0;
    margin-bottom: 10px;
}

.episode-content blockquote {
    margin: 0;
}

.episode-content ol,
.episode-content ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.episode-content ol ol,
.episode-content ul ol {
    list-style-type: lower-roman;
}

.episode-content ol ol ol,
.episode-content ol ul ol,
.episode-content ul ol ol,
.episode-content ul ul ol {
    list-style-type: lower-alpha;
}

.episode-content dd {
    margin-left: 0;
}

.episode-content code,
.episode-content pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
}

.episode-content pre {
    margin-top: 0;
    margin-bottom: 0;
}

.episode-content input::-webkit-inner-spin-button,
.episode-content input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.episode-content :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.episode-content .border {
    border: 1px solid #e1e4e8 !important;
}

.episode-content .border-0 {
    border: 0 !important;
}

.episode-content .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

.episode-content .rounded-1 {
    border-radius: 3px !important;
}

.episode-content .bg-white {
    background-color: #fff !important;
}

.episode-content .bg-gray-light {
    background-color: #fafbfc !important;
}

.episode-content .text-gray-light {
    color: #6a737d !important;
}

.episode-content .mb-0 {
    margin-bottom: 0 !important;
}

.episode-content .my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.episode-content .pl-0 {
    padding-left: 0 !important;
}

.episode-content .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.episode-content .pl-1 {
    padding-left: 4px !important;
}

.episode-content .pl-2 {
    padding-left: 8px !important;
}

.episode-content .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.episode-content .pl-3,
.episode-content .px-3 {
    padding-left: 16px !important;
}

.episode-content .px-3 {
    padding-right: 16px !important;
}

.episode-content .pl-4 {
    padding-left: 24px !important;
}

.episode-content .pl-5 {
    padding-left: 32px !important;
}

.episode-content .pl-6 {
    padding-left: 40px !important;
}

.episode-content .f6 {
    font-size: 12px !important;
}

.episode-content .lh-condensed {
    line-height: 1.25 !important;
}

.episode-content .text-bold {
    font-weight: 600 !important;
}

.episode-content .pl-c {
    color: #6a737d;
}

.episode-content .pl-c1,
.episode-content .pl-s .pl-v {
    color: #005cc5;
}

.episode-content .pl-e,
.episode-content .pl-en {
    color: #6f42c1;
}

.episode-content .pl-s .pl-s1,
.episode-content .pl-smi {
    color: #24292e;
}

.episode-content .pl-ent {
    color: #22863a;
}

.episode-content .pl-k {
    color: #d73a49;
}

.episode-content .pl-pds,
.episode-content .pl-s,
.episode-content .pl-s .pl-pse .pl-s1,
.episode-content .pl-sr,
.episode-content .pl-sr .pl-cce,
.episode-content .pl-sr .pl-sra,
.episode-content .pl-sr .pl-sre {
    color: #032f62;
}

.episode-content .pl-smw,
.episode-content .pl-v {
    color: #e36209;
}

.episode-content .pl-bu {
    color: #b31d28;
}

.episode-content .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
}

.episode-content .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}

.episode-content .pl-c2:before {
    content: "^M";
}

.episode-content .pl-sr .pl-cce {
    font-weight: 700;
    color: #22863a;
}

.episode-content .pl-ml {
    color: #735c0f;
}

.episode-content .pl-mh,
.episode-content .pl-mh .pl-en,
.episode-content .pl-ms {
    font-weight: 700;
    color: #005cc5;
}

.episode-content .pl-mi {
    font-style: italic;
    color: #24292e;
}

.episode-content .pl-mb {
    font-weight: 700;
    color: #24292e;
}

.episode-content .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
}

.episode-content .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
}

.episode-content .pl-mc {
    color: #e36209;
    background-color: #ffebda;
}

.episode-content .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
}

.episode-content .pl-mdr {
    font-weight: 700;
    color: #6f42c1;
}

.episode-content .pl-ba {
    color: #586069;
}

.episode-content .pl-sg {
    color: #959da5;
}

.episode-content .pl-corl {
    text-decoration: underline;
    color: #032f62;
}

.episode-content .mb-0 {
    margin-bottom: 0 !important;
}

.episode-content .my-2 {
    margin-bottom: 8px !important;
}

.episode-content .my-2 {
    margin-top: 8px !important;
}

.episode-content .pl-0 {
    padding-left: 0 !important;
}

.episode-content .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.episode-content .pl-1 {
    padding-left: 4px !important;
}

.episode-content .pl-2 {
    padding-left: 8px !important;
}

.episode-content .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.episode-content .pl-3 {
    padding-left: 16px !important;
}

.episode-content .pl-4 {
    padding-left: 24px !important;
}

.episode-content .pl-5 {
    padding-left: 32px !important;
}

.episode-content .pl-6 {
    padding-left: 40px !important;
}

.episode-content .pl-7 {
    padding-left: 48px !important;
}

.episode-content .pl-8 {
    padding-left: 64px !important;
}

.episode-content .pl-9 {
    padding-left: 80px !important;
}

.episode-content .pl-10 {
    padding-left: 96px !important;
}

.episode-content .pl-11 {
    padding-left: 112px !important;
}

.episode-content .pl-12 {
    padding-left: 128px !important;
}

.episode-content hr {
    border-bottom-color: #eee;
}

.episode-content kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

.episode-content:after,
.episode-content:before {
    display: table;
    content: "";
}

.episode-content:after {
    clear: both;
}

.episode-content > :first-child {
    margin-top: 0 !important;
}

.episode-content > :last-child {
    margin-bottom: 0 !important;
}

.episode-content a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.episode-content blockquote,
.episode-content details,
.episode-content dl,
.episode-content ol,
.episode-content p,
.episode-content pre,
.episode-content table,
.episode-content ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.episode-content hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.episode-content blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.episode-content blockquote > :first-child {
    margin-top: 0;
}

.episode-content blockquote > :last-child {
    margin-bottom: 0;
}

.episode-content h1,
.episode-content h2,
.episode-content h3,
.episode-content h4,
.episode-content h5,
.episode-content h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.episode-content h1 {
    font-size: 2em;
}

.episode-content h1,
.episode-content h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

.episode-content h2 {
    font-size: 1.5em;
}

.episode-content h3 {
    font-size: 1.25em;
}

.episode-content h4 {
    font-size: 1em;
}

.episode-content h5 {
    font-size: 0.875em;
}

.episode-content h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.episode-content ol,
.episode-content ul {
    padding-left: 2em;
}

.episode-content ol ol,
.episode-content ol ul,
.episode-content ul ol,
.episode-content ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.episode-content li {
    word-wrap: break-all;
}

.episode-content li > p {
    margin-top: 16px;
}

.episode-content li + li {
    margin-top: 0.25em;
}

.episode-content dl {
    padding: 0;
}

.episode-content dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.episode-content dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.episode-content table {
    display: block;
    width: 100%;
    overflow: auto;
}

.episode-content table th {
    font-weight: 600;
}

.episode-content table td,
.episode-content table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.episode-content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.episode-content table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.episode-content img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
}

.episode-content img[align="right"] {
    padding-left: 20px;
}

.episode-content img[align="left"] {
    padding-right: 20px;
}

.episode-content code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.episode-content pre {
    word-wrap: normal;
}

.episode-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.episode-content .highlight {
    margin-bottom: 16px;
}

.episode-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.episode-content .highlight pre,
.episode-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.episode-content pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}

.episode-content .commit-tease-sha {
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 90%;
    color: #444d56;
}

.episode-content .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
}

.episode-content .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.episode-content .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

.episode-content .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27, 31, 35, 0.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.episode-content .blob-num:hover {
    color: rgba(27, 31, 35, 0.6);
}

.episode-content .blob-num:before {
    content: attr(data-line-number);
}

.episode-content .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
}

.episode-content .blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
}

.episode-content .pl-token.active,
.episode-content .pl-token:hover {
    cursor: pointer;
    background: #ffea7f;
}

.episode-content .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

.episode-content .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

.episode-content .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

.episode-content .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

.episode-content .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

.episode-content .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

.episode-content .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

.episode-content .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

.episode-content .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

.episode-content .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

.episode-content .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

.episode-content .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

.episode-content .task-list-item {
    list-style-type: none;
}

.episode-content .task-list-item + .task-list-item {
    margin-top: 3px;
}

.episode-content .task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}
