{{ $main := resources.Get "js/main.js" }}
{{ $js := $main | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<!-- Shikwasa -->
<script src="https://cdn.jsdelivr.net/npm/shikwasa@2.1.2/dist/shikwasa.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/shikwasa@2.1.2/dist/shikwasa.chapter.min.js"></script>

<!-- Highlight.js -->
<script src="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/lib/highlight.min.js"></script>

<!-- lightGallery -->
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/lightgallery.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/plugins/zoom/lg-zoom.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/plugins/rotate/lg-rotate.umd.min.js"></script>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre code').forEach(el => {
            hljs.highlightBlock(el);
        });
    });
</script>

<!-- Custom js -->
{{ range .Site.Params.customJS -}}
  <script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}